@model DMS.Web.Models.Document.DocumentEditingViewModel

@{
  var title = (string)ViewData["Title"];
  var action = (string)ViewData["Action"];
}

<h2>@title</h2>

<hr />
<div class="row">
    <div class="col-md-10">
        <form asp-action="CreateEdit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @Html.HiddenFor(m => m.Id)
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Body" class="control-label"></label>
                <textarea rows="10" asp-for="Body" class="form-control"></textarea>
                <span asp-validation-for="Body" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Message" class="control-label"></label>
                <textarea rows="2" asp-for="Message" class="form-control"></textarea>
                <span asp-validation-for="Message" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="@action" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>